{% extends "base.html" %}

{% block content %}
<h1>Вход по паролю</h1>
<br>
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
            <p class="fail">{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
    {% endfor %}

    <form method="post" class="login-or-register">
        {{ form.csrf_token }}
        <p>{{ form.login.label }} {{ form.login}}</p>
        <p>{{ form.password.label }} {{ form.password }}</p>
        <input type="submit" value="{% trans %}Proceed{% endtrans %}" />
    </form>

    {% if config.get("REGISTRATION_ENABLED", True) %}
          <p><br><a href="{{ url_for('signup') }}">{% trans %}Sign up{% endtrans %}</a> ⋅
            <a href="{{ url_for('reset_token') }}">{% trans %}Get new access link{% endtrans %}</a></p>
    {% endif %}

    <main style="margin-top: 2em;" class="narrow">
      <h2 style="font-weight: 900; margin-bottom: 1em">Этот (убогий) конкурс подготовила команда [team Team]</h2>
      <p>Нам стало очень скучно, и, кажется не мы одни такие здесь сегодня. Давайте знакомиться! Вообще, мы энтузиасты, цель которых — помогать новичкам, делая изучение компьютерных наук и современных технологий <i>веселее</i>.</p>
      <p>Наш самый известный и важный проект — школьная олимпиада по защите информации <a href="https://ugractf.ru">Ugra CTF</a>, которая проходит по всей России: от Санкт-Петербурга до Владивостока.</p>
      <p>Ещё мы написали учебник «<a href="https://course.ugractf.ru">Информационные технологии и их безопасность</a>», по которому более сотни человек смогли ворваться в основы всего, что бывает <i>в этих наших компьютерах</i> — и не только.</p>
      <p>Мы также проводим выездные школы, например, в прошлом году мы разработали программу и прочитали для старшеклассников трек по ИБ в «<a href="https://practicingfutures.org/school_it_hmao">Школу информационных технологий</a>» вместе с Кружковым движением. Пишите — проведём и вам.</p>
      <p>Нас можно поддержать:</p>
      <ul>
        <li>- предложить сделать что-нибудь вместе: <a href="mailto:sellout@teamteam.dev">sellout@teamteam.dev</a></li>
        <li>- рассказать о <a href="https://ugractf.ru">Ugra CTF</a> знакомым школьникам</li>
        <li>- <a href="https://www.tinkoff.ru/sl/6OIn6ZJep9e">подарить нам денег просто так</a></li>
      </ul>

    </main>
{% endblock %}
